.navbar{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px;
    height: 80px;

    
}
.navbar > ul{
position: absolute;
right: 0;
top: 80px;
background-color: aqua;

}
#menu-btn{
    width: 600px;
    height: 600px;
}
.slider{
    width: 500px;
    margin: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#left-btn{
    position: absolute;
    left: 0;
}
#right-btn{
    position: absolute;
    right: 0;
}

button:disabled{
    opacity: 0.5;
}
#text-img{
    justify-content: center;
    text-align: center;
}